
<h2>Resumen Actualizado </h2>



<div>
    <h2>Ventas últimos 12 meses</h2>
    <%= line_chart @sales_by_month %>
</div>

<div>
    <h2>Cantidad de ventas últimos 12 meses</h2>
    <%= line_chart @sales_by_count %>
</div>

<div>
    <h2>Promedio de ventas últimos 12 meses</h2>
    <%= line_chart @sales_by_average %>
</div>
