<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>



<p id="notice"><%= notice %></p>

<h1>Resumen Actualizado agregar graficos</h1>


<%= link_to 'Pagina princial', root_path %>

