<hr>
<h1>Felicitaciones por tu pago</h1>

<p>El estado de tu pago es: </p>
<%= @status %><i class=" fas fa-check-double fa-2x"></i>
<p>Ponte en contacto con tu Administrador para habilitar tus accesos a la plataforma!</p>

<hr>
<p>El id de tu pago es: </p>
<%= @payment_id %>
<hr>