<footer>
    <table>
    <thead>
        <tr>
        <th><p id="UF"></p></th>
        <th><p id="DolarO"></p></th>
        <th><p id="DolarA"></p></th>
        <th><p id="Euro"></p></th>
        <th><p id="UTM"></p></th>
        <th><p id="IPC"></p></th>
        <th><p id="IVP"></p></th>
        <th><p id="Imacec"></p></th>
        <th colspan="3"></th>
        </tr>
    </thead>
    </table>
</footer>