<div class="container my-5">
  <footer class="text-center text-lg-start text-dark">
    <div class="container pt-1">
      <section class="">
        <div class="row">
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="UF"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="DolarO"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="DolarA"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="Euro"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="UTM"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="IPC"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="IVP"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="Imacec"></p>
          </div>
        </div>
      </section> 
    </div> 
  </footer>
</div>
