<div class="container my-5">
  <footer class="text-center text-lg-start text-dark">
    <div class="container pt-1">
      <section class="">
        <div class="row">
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Indicadores
            </h6>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="UF" class="text-uppercase mb-4 font-weight-bold"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="DolarO" class="text-uppercase mb-4 font-weight-bold"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="Euro" class="text-uppercase mb-4 font-weight-bold"></p>
          </div>
          <div class="col-lg-2 m-1 col-md-12 mb-4 mb-md-0">
            <p id="IPC" class="text-uppercase mb-4 font-weight-bold"></p>
          </div>
        </div>
      </section> 
    </div> 
    
  </footer>
</div>
