<hr>

<h3 class="text-center">Procesos Cerrados</h3>
<%= link_to 'Regresar a Propiedades', properties_path %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Propiedad</th>
        <th>Propietario</th>
      </tr>
    </thead> 
    <tbody> 
      <% @completeds.each do |comp|%>
        <tr>
          <td><%= comp.property.name %></td>
          <td><%= comp.property.owner.name %></td>
          <td><%= link_to 'Deshacer', completed_path(comp.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>  
