<% unless user_signed_in? %>
<main class="container" role="main">
  <div class="jumbotron">
    <h1></h1>
    <p class="lead">No estás registrado?! Visítanos...</p>
    <a class="btn btn-lg btn-primary" href="<%= lead_index_path %>" target="light" role="button">Más sobre la plataforma! &raquo;</a></div><div class="container"></div>
    <p class="lead">Compartimos información sobre:</p><div class="row"><div class="col-md-4"><h2>Corredores</h2><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.<a href="https://blog.nubecolectiva.com/category/frontend/" target="_blank"><img class="img-fluid mt-3" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png"></a></p></div>
    <div class="col-md-4"><h2>Legaliza tu contrato online</h2><p>En www.tupatrimonio.cl, sabías que puedes gestionar las firmas de tus arriendos y/o promesas de compraventa todo online?! Infórmate mas sobre para agilizar tus trámites, confiable y cómodo, en pocos pasos.<a href="https://tupatrimonio.cl/" target="_blank"><img class= "img-fluid mt-2" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png"></a></p></div>
    <div class="col-md-4"><h2>Archivero Judicial</h2><p>El Archivero Judicial de Santiago, es Ministro de Fe Pública encargado de la custodia de los documentos expresados en el Art. 455 del Código Orgánico de Tribunales y de dar a las partes interesadas los testimonios que de ellos pidieran.<a href="https://www.ajs.cl/" target="_blank"><img class="img-fluid mt-2" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-9-300x169.png"></a></p></div></div><hr></main>
  <footer></footer><div class="container"><div align="center">Desarrollado por <a href="https://www.nubecolectiva.com" target="_blank">Evelyn Katiuska Gomez Frez</a></div></div><hr>
<% else%>
  <%= render '/dashboard/index'%>
<% end %>

