<h1>Lead#index</h1>
<p>Find me in app/views/lead/index.html.erb</p>


<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #28A745">
    <a class="navbar-brand" href="#">
        <img src="img/logo-white.png" width="86" height="25" alt=""loading="lazy">
    </a>
    <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-outline-dark">
        <span class="navbar-toggler-icon"></span>
    </button>   
</nav>

<div class="row row-cols-1 row-cols-md-3 my-2 mx-2 p-2">
    <div class="col mb-4">
        <img src="img/cupon-1.jpg" class="card-img-top" alt="cupon-1">
        <div class="card-body">
            <h5 class="card-title font-weight-light mb-4">Plumón Coral Fleece estampado en modelo y tamaño a elección</h5>
            <p class="card-subtitle"><small class="text-muted mt-2">Plumones Manolio</small></p>
            <i class="fas fa-map-marker-alt fa-0.3x text-muted p-0 mb-2"><small class="text-muted"> 9191 Avenida Vitacura, Chile</small></i>         
            <div class="card-footer text-right">
                <small class="antes text-muted font-weight-light">  $45.990</small>
                <small class="oferta text-success font-weight-bold">  $22.990</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <img src="img/cupon-2.jpg" class="card-img-top" alt="cupon-2">
        <div class="card-body">
            <h5 class="card-title font-weight-light mb-4">Entrada para compartir + platos de fondo + postres + bebestibles</h5>
            <p class="card-subtitle"><small class="text-muted mt-2">V for Vegan</small></p>
            <i class="fas fa-map-marker-alt fa-0.3x text-muted p-0 mb-2"><small class="text-muted"> 777 Jesse Pinkman, Chile</small></i>
            <div class="card-footer text-right">
                <small class="antes text-muted font-weight-light">  $30.990</small>
                <small class="oferta text-success font-weight-bold">  $12.990</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <img src="img/cupon-3.jpg" class="card-img-top" alt="cupon-3">
        <div class="card-body">
            <h5 class="card-title font-weight-light mb-4">Evaluación integral + blanqueamiento dental led + limpieza + fluoración</h5>
            <p class="card-subtitle"><small class="text-muted mt-2">Clínica Dental Quijada</small></p>
            <i class="fas fa-map-marker-alt fa-0.3x text-muted p-0 mb-2"><small class="text-muted"> 1342, Blanco Encalada, Chile</small></i>         
            <div class="card-footer text-right">
                <small class="antes text-muted font-weight-light">  $300.000</small>
                <small class="oferta text-success font-weight-bold">  $25.990</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <img src="img/cupon-4.jpg" class="card-img-top" alt="cupon-3">
        <div class="card-body">
            <h5 class="card-title font-weight-light mb-4">Colación para 2 personas + postre (no incluye bebidas)</h5>
            <p class="card-subtitle"><small class="text-muted mt-2">Suricata almacen</small></p>
            <i class="fas fa-map-marker-alt fa-0.3x text-muted p-0 mb-2"><small class="text-muted"> 1071 Miguel Claro, Chile</small></i>         
            <div class="card-footer text-right">
                <small class="antes text-muted font-weight-light">  $4.200</small>
                <small class="oferta text-success font-weight-bold">  $2.100</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <img src="img/cupon-5.jpg" class="card-img-top" alt="cupon-3">
        <div class="card-body">
            <h5 class="card-title font-weight-light mb-4">1, 2 o 4 tickets para Stukids. Elige sucursal</h5>
            <p class="card-subtitle"><small class="text-muted mt-2">Stukids Centro de Eventos</small></p>
            <i class="fas fa-map-marker-alt fa-0.3x text-muted p-0 mb-2"><small class="text-muted"> 133 El tranque, Chile</small></i>         
            <div class="card-footer text-right">
                <small class="antes text-muted font-weight-light">  $4.000</small>
                <small class="oferta text-success font-weight-bold">  $2.000</small>
            </div>
        </div>
    </div>
    
