<body>
<div class="card-deck">
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="<%= asset_path 'interactuar.jpg' %>" alt="Card image cap">
    <div class="card-body text-info">
      <h5 class="card-title">Relación con el cliente</h5>
      <p class="card-text">La fidelización con el cliente, ya sea por que alguien te recomendó o lo captaste, es el paso más importante y dependerá de tu gestión que lo mantengas aun terminado el proceso y será él quien vuelva a darte mas contactos!.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>

  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="<%= asset_path 'registro.jpg' %>" alt="Card image cap">
    <div class="card-body text-info">
      <h5 class="card-title">Registrar la información</h5>
      <p class="card-text">Esta plataforma centraliza todas las acciones que utilizas al momento de trabajar, aquí podrás registrar a tus clientes y el paso a paso, como además ir a las páginas principales que involucra la gestión.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="<%= asset_path 'venta.jpg' %>" alt="Card image cap">
    <div class="card-body text-info">
      <h5 class="card-title">Venta o arriendo</h5>
      <p class="card-text">Luego de concretar la gestión con el cliente, tendrás organizado la secuencia del proceso para la venta o arriendo, el acceso a tu web, si tuvieras, para publicar.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


</body>
